.comments__container {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

@media screen and (max-width : 1023px) {
    .comments__container {
        flex-direction: column;
        align-items: center;
        margin-top: 66px;
    }
}

@media screen and (max-width : 767px) {
    .comments__container {
        margin-top: 42px;
    }
}

@media screen and (max-width : 1023px) {
    .comments__container {        
        margin-top: 34px;
    }
}