@import url('./__lang/header__lang.css');
@import url('./__logo/header__logo.css');
@import url('./__lang/_active/header__lang_active.css');


.header {
    padding-top: 30px;
    max-width: 1184px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}