@import url('./__lang/header__lang.css');
@import url('./__logo/header__logo.css');
@import url('./__lang/_active/header__lang_active.css');


.header {
    max-width: 1440px;
    min-width: 320px;
    padding-top: 30px;
    width: calc(100% - 128px * 2);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (max-width : 1439px) {
    .header {
        width: calc(100% - 48px * 2);
    }    
}

@media screen and (max-width : 1023px) {
    .header {
        width: calc(100% - 24px * 2);
    }    
}

@media screen and (max-width : 767px) {
    .header {
        width: calc(100% - 16px * 2);
        padding-top: 16px;
    }    
}