.cover__container {
    background-image: url('../../../images/cover.jpg');     
    text-decoration: none;        
    position: relative;
    min-height: 594px;    
    background-size: 100% 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;    
}