.video__item {
    background-size: 100% 100%; 
    display: block;
    text-decoration: none;       
    min-height: 323px;
    background-size: cover;
    background-position: center;    
    position: relative;
    color: white;
    border-radius: 5px;  
        
}

.video__item:first-child {
    background-image: url('../../../images/kamchatka.jpg');
    margin-right: 18px;
}

.video__item:last-child {
    background-image: url('../../../images/observe.jpg'); 
}


@media screen and (max-width : 1279px) {
    .video__item {
        min-height: 288px;
    }
}

@media screen and (max-width : 1023px) {
    .video__item {
        min-height: 200px;
    }    
}

@media screen and (max-width : 767px) {
    .video__item:first-child {
        margin-right: 0;
        margin-bottom: 9px;
    }
}   
@media screen and (max-width : 374px) {
    .video__item {
        min-height: 192px;        
    }
    .video__item:first-child {
        margin-right: 0;
        margin-bottom: 9px;
    }
}
@media screen and (max-width : 319px) {
    .video__item {
        width: 288px;
        height: 192px;
    }
} 